In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Maniitsoq,GL,2022-11-11 14:41:15,65.4167,-52.9000,22.66,59,100,7.90
1,1,Georgetown,MY,2022-11-11 14:41:16,5.4112,100.3354,76.95,97,40,4.61
2,2,Vaini,TO,2022-11-11 14:41:17,-21.2000,-175.2000,77.16,94,40,2.30
3,3,Busselton,AU,2022-11-11 14:39:01,-33.6500,115.3333,51.08,78,41,6.96
4,4,Tiksi,RU,2022-11-11 14:41:18,71.6872,128.8694,-11.47,100,98,2.66

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) 
                                                     for temp in max_temp],
                                 dissipating=False, max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=
                               False, max_intensity=300, point_radius =4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=
                               False, max_intensity=300, point_radius =4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=
                               False, max_intensity=300, point_radius =4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [49]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Georgetown,MY,2022-11-11 14:41:16,5.4112,100.3354,76.95,97,40,4.61
2,2,Vaini,TO,2022-11-11 14:41:17,-21.2000,-175.2000,77.16,94,40,2.30
9,9,Lorengau,PG,2022-11-11 14:41:21,-2.0226,147.2712,81.27,76,100,2.64
12,12,Sibolga,ID,2022-11-11 14:41:25,1.7427,98.7792,76.50,93,100,1.12
15,15,Karratha,AU,2022-11-11 14:41:27,-20.7377,116.8463,75.15,64,0,18.39
16,16,Port Antonio,JM,2022-11-11 14:41:27,18.1800,-76.4612,85.91,70,26,9.08
17,17,Chivacoa,VE,2022-11-11 14:41:28,10.1603,-68.8950,86.92,58,95,1.39
24,24,Arraial Do Cabo,BR,2022-11-11 14:41:31,-22.9661,-42.0278,82.36,69,40,13.80
25,25,Grand Gaube,MU,2022-11-11 14:41:31,-20.0064,57.6608,77.40,68,11,4.00
27,27,Cape Town,ZA,2022-11-11 14:39:17,-33.9258,18.4232,75.11,51,0,11.50

In [50]:
preferred_cities_df.count()

City_ID       184
City          184
Country       182
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [51]:
preferred_cities_df = preferred_cities_df.dropna()

In [52]:
preferred_cities_df.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [53]:
# Create a DataFrame that copies preferred_cities_df
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp,
# and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
1     Georgetown      MY     76.95   5.4112  100.3354
2          Vaini      TO     77.16 -21.2000 -175.2000
9       Lorengau      PG     81.27  -2.0226  147.2712
12       Sibolga      ID     76.50   1.7427   98.7792
15      Karratha      AU     75.15 -20.7377  116.8463
..           ...     ...       ...      ...       ...        ...
554    San Pedro      PH     81.63  14.3500  121.0167
555     Kandrian      PG     76.17  -6.2167  149.5500
557  Miandrivazo      MG     88.88 -19.5167   45.4667
564       Zhuhai      CN     76.86  22.2769  113.5678
568    Saint-Leu      RE     76.06 -21.1500   55.2833

[182 rows x 6 columns]

In [54]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# Iterate through the DataFrame
for index,row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [55]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
2,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
9,Lorengau,PG,81.27,-2.0226,147.2712,Lorengau Harbourside Hotel
12,Sibolga,ID,76.50,1.7427,98.7792,Hotel Syariah CN Darussalam
15,Karratha,AU,75.15,-20.7377,116.8463,ibis Styles Karratha
16,Port Antonio,JM,85.91,18.1800,-76.4612,The Trident Hotel
17,Chivacoa,VE,86.92,10.1603,-68.8950,Hotel Abruzzese C.A
24,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
25,Grand Gaube,MU,77.40,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
27,Cape Town,ZA,75.11,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))