# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import gmaps

# Import Google API key
from vacayconfig import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cape Town,ZA,-33.9258,18.4232,62.28,73,94,8.01,overcast clouds
1,1,Havre-Saint-Pierre,CA,50.2334,-63.5986,26.96,80,100,11.50,overcast clouds
2,2,Saint-Pierre,RE,-21.3393,55.4781,71.28,88,100,18.41,overcast clouds
3,3,Kumla,SE,59.1277,15.1434,45.00,100,100,3.44,fog
4,4,Hilo,US,19.7297,-155.0900,80.33,71,20,6.91,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Saint-Pierre,RE,-21.3393,55.4781,71.28,88,100,18.41,overcast clouds
4,4,Hilo,US,19.7297,-155.0900,80.33,71,20,6.91,few clouds
9,9,Geraldton,AU,-28.7667,114.6000,79.21,31,0,18.41,clear sky
10,10,Rikitea,PF,-23.1203,-134.9692,74.75,87,95,15.32,overcast clouds
11,11,Saint-Philippe,RE,-21.3585,55.7679,71.19,84,88,13.94,light rain
13,13,Mataura,NZ,-46.1927,168.8643,73.06,41,24,4.94,few clouds
17,17,Georgetown,MY,5.4112,100.3354,82.33,86,20,0.00,light rain
18,18,Tonj,SS,7.2737,28.6822,72.57,42,66,2.06,broken clouds
21,21,Nioki,CD,-2.7167,17.6833,70.45,99,100,3.13,light rain
24,24,Baculin,PH,7.4525,126.5842,85.73,68,100,7.96,overcast clouds

In [8]:
preferred_cities_df.count()

City_ID                258
City                   258
Country                258
Lat                    258
Lng                    258
Max Temp               258
Humidity               258
Cloudiness             258
Wind Speed             258
Current Description    258
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.count()

City_ID                258
City                   258
Country                258
Lat                    258
Lng                    258
Max Temp               258
Humidity               258
Cloudiness             258
Wind Speed             258
Current Description    258
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [10]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# Display sample data
hotel_df

               City Country  Max Temp Current Description      Lat       Lng
2      Saint-Pierre      RE     71.28     overcast clouds -21.3393   55.4781
4              Hilo      US     80.33          few clouds  19.7297 -155.0900
9         Geraldton      AU     79.21           clear sky -28.7667  114.6000
10          Rikitea      PF     74.75     overcast clouds -23.1203 -134.9692
11   Saint-Philippe      RE     71.19          light rain -21.3585   55.7679
..              ...     ...       ...                 ...      ...       ...
698             Gao      ML     73.36          few clouds  16.6362    1.6370
709          Kokopo      PG     85.87     overcast clouds  -4.3520  152.2633
711          Ixtapa      MX     76.23    scattered clouds  20.7000 -105.2000
712         Luangwa      ZM     75.65          light rain -15.6167   30.4167
713        Bac Lieu      VN     82.80       moderate rain   9.2850  105.7244

[258 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [11]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint-Pierre,RE,71.28,overcast clouds,-21.3393,55.4781,
4,Hilo,US,80.33,few clouds,19.7297,-155.0900,
9,Geraldton,AU,79.21,clear sky,-28.7667,114.6000,
10,Rikitea,PF,74.75,overcast clouds,-23.1203,-134.9692,
11,Saint-Philippe,RE,71.19,light rain,-21.3585,55.7679,
...,...,...,...,...,...,...,...
698,Gao,ML,73.36,few clouds,16.6362,1.6370,
709,Kokopo,PG,85.87,overcast clouds,-4.3520,152.2633,
711,Ixtapa,MX,76.23,scattered clouds,20.7000,-105.2000,
712,Luangwa,ZM,75.65,light rain,-15.6167,30.4167,
713,Bac Lieu,VN,82.80,moderate rain,9.2850,105.7244,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [12]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [13]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint-Pierre,RE,71.28,overcast clouds,-21.3393,55.4781,Alize Plage
4,Hilo,US,80.33,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Geraldton,AU,79.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
10,Rikitea,PF,74.75,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Saint-Philippe,RE,71.19,light rain,-21.3585,55.7679,Le four à pain
13,Mataura,NZ,73.06,few clouds,-46.1927,168.8643,Ellie's Villa
17,Georgetown,MY,82.33,light rain,5.4112,100.3354,Cititel Penang
18,Tonj,SS,72.57,broken clouds,7.2737,28.6822,Lakan Hotel
21,Nioki,CD,70.45,light rain,-2.7167,17.6833,
24,Baculin,PH,85.73,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [22]:
# Drop the rows where there is no Hotel Name.

hotel_df["Hotel Name"].replace("", np.nan, inplace=True)

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint-Pierre,RE,71.28,overcast clouds,-21.3393,55.4781,Alize Plage
4,Hilo,US,80.33,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Geraldton,AU,79.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
10,Rikitea,PF,74.75,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Saint-Philippe,RE,71.19,light rain,-21.3585,55.7679,Le four à pain
13,Mataura,NZ,73.06,few clouds,-46.1927,168.8643,Ellie's Villa
17,Georgetown,MY,82.33,light rain,5.4112,100.3354,Cititel Penang
18,Tonj,SS,72.57,broken clouds,7.2737,28.6822,Lakan Hotel
21,Nioki,CD,70.45,light rain,-2.7167,17.6833,NaN
24,Baculin,PH,85.73,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort

In [23]:
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Saint-Pierre,RE,71.28,overcast clouds,-21.3393,55.4781,Alize Plage
4,Hilo,US,80.33,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Geraldton,AU,79.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
10,Rikitea,PF,74.75,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Saint-Philippe,RE,71.19,light rain,-21.3585,55.7679,Le four à pain
13,Mataura,NZ,73.06,few clouds,-46.1927,168.8643,Ellie's Villa
17,Georgetown,MY,82.33,light rain,5.4112,100.3354,Cititel Penang
18,Tonj,SS,72.57,broken clouds,7.2737,28.6822,Lakan Hotel
24,Baculin,PH,85.73,overcast clouds,7.4525,126.5842,Baculin Cove Beach Resort
28,Atuona,PF,77.88,light rain,-9.8000,-139.0333,Villa Enata

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [27]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [29]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [30]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Alize Plage</dd>\n<dt>City</dt><dd>Saint-Pierre</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Broadwater Mariner Resort</dd>\n<dt>City</dt><dd>Geraldton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>light rain and 71.19 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>few clouds and 73.06 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>light rain and 82.33 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lakan Hotel</dd>\n<dt>City</dt><dd>Tonj</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Current Weather</dt><dd>broken clouds and 72.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Baculin Cove Beach Resort</dd>\n<dt>City</dt><dd>Baculin</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 77.88 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [31]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2  -21.3393   55.4781
4   19.7297 -155.0900
9  -28.7667  114.6000
10 -23.1203 -134.9692
11 -21.3585   55.7679
13 -46.1927  168.8643
17   5.4112  100.3354
18   7.2737   28.6822
24   7.4525  126.5842
28  -9.8000 -139.0333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [37]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))